.compact-true {
    margin-top: 10px;
    height: 30px;

    color: white;
    text-align: start;
    align-items: center;

    border-bottom: 1px solid rgba(255, 255, 255, 0.14);
}

.compact-false {
    margin-top: 10px;
    height: auto;

    color: white;
    text-align: start;
    align-items: center;

    border-bottom: 1px solid rgba(255, 255, 255, 0.14);
}

.nickname {
    font-size: 12px;
}

.linkCard {
    display:flex; 
    flex-direction:row;
    padding-left: 15px;
    padding-right: 5px;
}

.link-container {
    animation: slide-in 0.3s;
}

@keyframes slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }

.og-link {
    display: flex;
    flex-direction: row;
    width: max-content;
    text-align: start;
    padding-left: 15px;
    padding-right: 15px;

    font-size: 12px;
}

.tab {
    margin-right: 15px;
    min-width: 15%;
}

.longurl {
    background-color: #202a3b;
    height: auto;
    width: auto;
    overflow-wrap: normal;
}

.link-name {
    font-size: 12px;
    font-family: Arial, sans-serif;
    min-width: 45%;
}

.linkCard a {
    font-size: 12px;
    margin-left: 10px;
}

.icon {
    font-size: 12px;
}

.i-expand {
    color: #888d975a;
}

.i-expand:hover {
    color: default;
}

.active-false {
    color: #FF2C2C;
}

.active-true {
    color: #00cf00;
}